.container-pdf {
    padding: 5% 12%;
}
.title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0;
}
.form-header {
    float: right;
}

.btn-pdf {
    margin: 0px 200px 50px 0;
    float: right;
}


.name {
    font-size: 16px;
    font-weight: 650;
}
.content {
    font-size: 16px;
    font-weight: 400;

}
.table {
    margin: 20px 0;
}

.title-table {
    font-size: 16px;
    margin: 10px 0;
}

.singned {
    text-align: center;
    font-size: 25px;
}
